{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} 统计信息 {% endblock %}

{% block content %}

    <div class="text-center" style="height: 100px">
        <h1>JD 分析</h1>
    </div>
    <div id="main" class="col-md-offset-3 myContainer" style="margin:0 auto;width: 800px;height:400px;"></div>
    <div id="second" class="col-md-offset-3 myContainer" style="margin:0 auto;width: 800px;height:400px;"></div>
    <script src="../static/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/3.2.2/echarts.simple.js"></script>
    <script src="../static/echarts.min.js"></script>
    <script src="../static/echarts-wordcloud.js"></script>
{#    <script src="https://ecomfe.github.io/echarts-wordcloud/dist/echarts-wordcloud.js"></script>#}
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var radar_chart = echarts.init(document.getElementById('main'));
        var chart = echarts.init(document.getElementById('second'));
        {#console.log(data);#}

        radar_option = {
            title: {
                text: 'JD 要求雷达图:'
            },
            tooltip: {},
            legend: {
                data: ['要求分布']
            },
            radar: {
                shape: 'circle',
                name: {
                    textStyle: {
                        color: '#222',
                        backgroundColor: '#999',
                        borderRadius: 3,
                        padding: [3, 5]
                    }
                },
                indicator: [
                    {text: '经验要求', max: 5},
                    {text: '学历要求', max: 5},
                    {text: '技能要求', max: 5},
                ]
            },
            series: [{
                name: '要求',
                type: 'radar',
                // areaStyle: {normal: {}},
                data: [
                    {
                        value: {{ rader_statics }},
                        name: 'jd要求'
                    },
                ]
            }]
        };
        option = {
            title: {
                text: 'JD 词云图:'
            },
            tooltip: {
                show: true
            },
            series: [{
                type: "wordCloud",
                gridSize: 6,
                shape: 'circle',
                sizeRange: [30, 80],
                width: 800,
                rotate_step: 0,
                height: 400,
                textStyle: {
                    normal: {
                        color: function () {
                            return 'rgb(' + [
                                Math.round(Math.random() * 160),
                                Math.round(Math.random() * 160),
                                Math.round(Math.random() * 160)
                            ].join(',') + ')';
                        }
                    },
                    emphasis: {
                        shadowBlur: 10,
                        shadowColor: '#333'
                    }
                },
                data: {{ word_cloud|safe }},
            }]
        };


        radar_chart.setOption(radar_option);
        chart.setOption(option);
        {#bookChart.setOption(bookOption);#}
    </script>
    <div style="text-align:center;margin-bottom: 200px;margin-top: 50px;"><a href="/result/" type="submit" class="btn btn-primary btn-lg active">简历推荐</a></div>


{% endblock %}
