{% extends "base.html" %}
{% load staticfiles %}
{% block title %}简历列表{% endblock %}

{% block content %}

    <table class="table table-hover" style="margin-left: 50px">
            <thead>
            <th>id</th>
            <th>工作经验</th>
            <th>性别</th>
            <th>最高学历</th>
            <th>查看详情</th>
            </thead>
            <tbody>
            {% for cv in pager %}
                <tr>
                    <td>{{ cv.cv_id }}</td>
                    <td>{{ cv.work_experience }}</td>
                    <td>{{ cv.gender }}</td>
                    <td>{{ cv.degree }}</td>
                    <td><a href="/detail?cv_id={{ cv.cv_id }}">查看详情</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td>暂无简历</td>
                </tr>
            {% endfor %}
            </tbody>
    </table>

    {# 实现分页标签的代码 #}
    {# 这里使用 bootstrap 渲染页面 #}
    <div id="pages" class="text-center" >
        <nav>
            <ul class="pagination">
                <li class="step-links">
                {% if pager.has_previous %}
                    <a class='active' href="?page={{ pager.previous_page_number }}">上一页</a>
                {% endif %}

                <span class="current">
                    Page {{ pager.number }} of {{ pager.paginator.num_pages }}</span>

                {% if pager.has_next %}
                    <a class='active' href="?page={{ pager.next_page_number }}">下一页</a>
                {% endif %}
                </li>
            </ul>
        </nav>
    </div>


{% endblock %}
